/* line 3, ../scss/main.scss */
body {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: normal;
  color: #6C7F9A;
  font-size: 24px; }

/* line 11, ../scss/main.scss */
.header {
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 15, ../scss/main.scss */
  .header .navbar-nav a {
    font-size: 16px;
    line-height: 19px;
    color: #567FCD;
    text-decoration: none;
    padding-right: 2.5rem;
    padding-left: 2.5rem; }
    /* line 23, ../scss/main.scss */
    .header .navbar-nav a:hover {
      color: #8669F4;
      text-decoration: underline; }
  /* line 29, ../scss/main.scss */
  .header-bg {
    position: relative;
    z-index: 0;
    background-image: url("../img/header-bg-3.png");
    background-position: left top -20px;
    background-repeat: no-repeat; }
    /* line 36, ../scss/main.scss */
    .header-bg::before {
      position: absolute;
      content: '';
      display: block;
      background-image: url("../img/header-bg-1.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 913px;
      height: 708px;
      left: -330px;
      top: 130px;
      z-index: -1; }
    /* line 50, ../scss/main.scss */
    .header-bg::after {
      position: absolute;
      content: '';
      display: block;
      background-image: url("../img/header-bg-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 598px;
      height: 582px;
      right: 0px;
      top: 35px;
      z-index: -1; }

/* line 67, ../scss/main.scss */
h1 {
  color: #323A45;
  font-weight: 800;
  font-size: 103px;
  line-height: 100%; }
/* line 74, ../scss/main.scss */
h2 {
  font-weight: bold;
  font-size: 54px; }

/* line 80, ../scss/main.scss */
.section-gradient {
  background-image: linear-gradient(293.57deg, #E1EFFF 8.78%, rgba(225, 239, 255, 0) 77.54%); }
  /* line 83, ../scss/main.scss */
  .section-gradient.section-bg {
    background: url("../img/gr-bg-2.png") no-repeat top -120px left, linear-gradient(293.57deg, #E1EFFF 8.78%, rgba(225, 239, 255, 0) 77.54%); }

/* line 90, ../scss/main.scss */
.offer h1 span {
  font-weight: 600;
  font-size: 34px;
  line-height: 120%; }
/* line 97, ../scss/main.scss */
.offer .offer__wrapper {
  max-width: 435px;
  text-align: center;
  margin: 0 auto; }
/* line 103, ../scss/main.scss */
.offer .offer__desc {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 15px; }
/* line 109, ../scss/main.scss */
.offer small {
  font-weight: 600;
  font-size: 16px;
  color: #6C7F9A; }
/* line 115, ../scss/main.scss */
.offer.bg-dark-gr {
  padding-bottom: 125px;
  padding-top: 75px; }

/* line 121, ../scss/main.scss */
.counter {
  text-align: center;
  max-width: 445px;
  margin: 0 auto; }
  /* line 126, ../scss/main.scss */
  .counter .counter__title {
    font-weight: 600;
    font-size: 25px;
    color: #233039;
    margin-top: 20px;
    margin-bottom: 15px; }
  /* line 134, ../scss/main.scss */
  .counter .counter__value {
    font-weight: bold;
    font-size: 40px;
    color: #8669F4;
    line-height: 100%; }
  /* line 141, ../scss/main.scss */
  .counter .counter__period {
    font-size: 18px;
    color: #323A45; }
  /* line 146, ../scss/main.scss */
  .counter ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 154, ../scss/main.scss */
    .counter ul::before {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12L9.23114e-07 23.2584L1.90735e-06 0.741699L15 12Z' fill='%23A041FF'/%3E%3C/svg%3E%0A");
      width: 15px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: -35px; }
    /* line 166, ../scss/main.scss */
    .counter ul::after {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12L9.23114e-07 23.2584L1.90735e-06 0.741699L15 12Z' fill='%23A041FF'/%3E%3C/svg%3E%0A");
      width: 15px;
      height: 23px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -35px; }
    /* line 179, ../scss/main.scss */
    .counter ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #fff;
      background-image: linear-gradient(293.57deg, #FFFFFF 42.51%, #FFFFFF 91.63%);
      -webkit-box-shadow: 10px 40px 60px rgba(34, 110, 165, 0.1);
              box-shadow: 10px 40px 60px rgba(34, 110, 165, 0.1);
      border-radius: 5px;
      width: 105px;
      height: 105px; }
      /* line 192, ../scss/main.scss */
      .counter ul li:not(:last-child) {
        margin-right: 7px; }

/* line 199, ../scss/main.scss */
.btn {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  background-image: linear-gradient(230.64deg, #7195FF 12.82%, #9554FF 84.62%);
  height: 60px;
  border-radius: 5px; }
  /* line 211, ../scss/main.scss */
  .btn:hover {
    color: #FFFFFF; }

/* line 216, ../scss/main.scss */
.sale {
  padding-top: 120px;
  padding-bottom: 170px; }
  /* line 220, ../scss/main.scss */
  .sale .btn {
    width: 220px; }
  /* line 224, ../scss/main.scss */
  .sale img {
    width: 100%;
    height: auto; }
  /* line 229, ../scss/main.scss */
  .sale h2 {
    color: #323A45; }
  /* line 233, ../scss/main.scss */
  .sale .sale__offer {
    max-width: 45%; }
    /* line 236, ../scss/main.scss */
    .sale .sale__offer small {
      font-weight: 600;
      font-size: 27px;
      color: #8669F4;
      margin-bottom: 20px; }
    /* line 243, ../scss/main.scss */
    .sale .sale__offer p {
      font-size: 24px; }
  /* line 248, ../scss/main.scss */
  .sale .sale__presentation {
    text-align: center;
    max-width: 45%;
    width: 100%; }
    /* line 253, ../scss/main.scss */
    .sale .sale__presentation iframe {
      width: 100%; }
  /* line 258, ../scss/main.scss */
  .sale .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  /* line 264, ../scss/main.scss */
  .sale_dark {
    color: white; }
    /* line 266, ../scss/main.scss */
    .sale_dark p {
      color: #6C7F9A; }
    /* line 270, ../scss/main.scss */
    .sale_dark h2 {
      color: white; }
  /* line 275, ../scss/main.scss */
  .sale_dark-gradient {
    color: white; }
    /* line 278, ../scss/main.scss */
    .sale_dark-gradient p {
      color: #D3E6F8; }
    /* line 282, ../scss/main.scss */
    .sale_dark-gradient h2 {
      color: white; }
  /* line 288, ../scss/main.scss */
  .sale_caps h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800; }
  /* line 295, ../scss/main.scss */
  .sale_notFullBg {
    background-image: none;
    background-color: transparent;
    position: relative;
    padding-top: 120px;
    padding-bottom: 130px;
    margin-top: 60px;
    margin-bottom: 154px; }
    /* line 304, ../scss/main.scss */
    .sale_notFullBg::before {
      content: '';
      display: block;
      position: absolute;
      width: 1550px;
      height: 100%;
      top: 0;
      left: calc(50% - 775px);
      background-image: linear-gradient(318.76deg, #E1EFFF 4.58%, rgba(225, 239, 255, 0) 89.01%);
      background-position: center;
      border-radius: 20px;
      z-index: -1; }
  /* line 319, ../scss/main.scss */
  .sale_geometry-right {
    padding: 0;
    margin-top: 150px;
    margin-bottom: 100px;
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #0D101F));
    background-image: linear-gradient(90deg, transparent 50%, #0D101F 50%);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: right; }
    /* line 329, ../scss/main.scss */
    .sale_geometry-right__wrapper {
      padding-top: 90px;
      padding-bottom: 90px;
      background-color: #0D101F;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      /* line 337, ../scss/main.scss */
      .sale_geometry-right__wrapper::before {
        content: '';
        display: block;
        height: 100%;
        width: 91px;
        left: -90px;
        top: 0;
        position: absolute;
        background-color: #0D101F;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; }
    /* line 351, ../scss/main.scss */
    .sale_geometry-right .container {
      position: relative; }
      /* line 354, ../scss/main.scss */
      .sale_geometry-right .container::after {
        content: '';
        display: block;
        position: absolute;
        width: 171%;
        height: 124px;
        bottom: -121px;
        right: -69%;
        background: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' viewBox='0 0 1621 124' fill='none' height='124'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1620.5 123.352L0 1.35161L1620.5 0V123.352Z' fill='%230D101F'/%3E%3C/svg%3E%0A") top right no-repeat;
        background-size: cover; }
      /* line 366, ../scss/main.scss */
      .sale_geometry-right .container::before {
        content: '';
        display: block;
        position: absolute;
        width: 171%;
        height: 124px;
        top: -121px;
        right: -69%;
        background: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' viewBox='0 0 1621 124' height='124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1621 0L0.5 122L1621 123.352V0Z' fill='%230D101F'/%3E%3C/svg%3E%0A") top right no-repeat;
        background-size: cover; }
  /* line 381, ../scss/main.scss */
  .sale_geometry-left {
    bottom: -270px;
    padding: 0;
    margin-top: -260px;
    margin-bottom: 340px;
    position: relative;
    background-image: linear-gradient(157deg, #465d8b 0%, #465d8b 52%, transparent 52%);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: left; }
    /* line 392, ../scss/main.scss */
    .sale_geometry-left__wrapper {
      padding-top: 90px;
      padding-bottom: 90px;
      background-color: #465d8b;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      /* line 402, ../scss/main.scss */
      .sale_geometry-left__wrapper::before {
        content: '';
        display: block;
        height: 100%;
        width: 91px;
        right: -90px;
        top: 0;
        position: absolute;
        background-color: #465d8b;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; }
    /* line 416, ../scss/main.scss */
    .sale_geometry-left .container {
      position: relative; }
      /* line 419, ../scss/main.scss */
      .sale_geometry-left .container::before {
        content: '';
        display: block;
        background: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' height='124' viewBox='0 0 1621 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L1620.5 122L0 123.352V0Z' fill='%23465d8b' /%3E%3C/svg%3E%0A") top left no-repeat;
        width: 171%;
        height: 124px;
        top: -121px;
        left: -69%;
        position: absolute;
        background-size: cover; }
      /* line 431, ../scss/main.scss */
      .sale_geometry-left .container::after {
        content: '';
        display: block;
        background: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' height='124' viewBox='0 0 1621 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 123.352L1620.5 1.35156L0 -4.57764e-05V123.352Z' fill='%23465d8b' /%3E%3C/svg%3E%0A") top left no-repeat;
        width: 171%;
        height: 124px;
        bottom: -121px;
        left: -69%;
        position: absolute;
        background-size: cover; }
  /* line 446, ../scss/main.scss */
  .sale_list-check ul {
    list-style: none;
    margin-top: 30px;
    padding: 0; }
    /* line 451, ../scss/main.scss */
    .sale_list-check ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 453, ../scss/main.scss */
      .sale_list-check ul li::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin-top: 5px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.8596 10.253C21.836 9.27663 21.8359 7.69384 20.8596 6.71751C19.8833 5.74119 18.3005 5.7411 17.3241 6.71751L8.48524 15.5563L5.30326 12.3744C4.32693 11.398 2.74414 11.398 1.76772 12.3744C0.791306 13.3508 0.791393 14.9336 1.76772 15.9099L6.71747 20.8596C7.6938 21.836 9.27659 21.8361 10.253 20.8596L20.8596 10.253Z' fill='%2368BBE4'/%3E%3C/svg%3E%0A"); }
      /* line 466, ../scss/main.scss */
      .sale_list-check ul li:not(:last-child) {
        margin-bottom: 15px; }
  /* line 473, ../scss/main.scss */
  .sale_bg {
    background-image: url("../img/gr-bg-1.png");
    background-repeat: no-repeat;
    background-position: center center; }

/* line 480, ../scss/main.scss */
.courses {
  text-align: center;
  padding-bottom: 105px;
  padding-top: 100px; }
  /* line 485, ../scss/main.scss */
  .courses.courses_bg {
    background-image: url("../img/gr-bg-3.png");
    background-repeat: no-repeat;
    background-position: right top; }
  /* line 491, ../scss/main.scss */
  .courses h2 {
    font-weight: bold;
    font-size: 54px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #323A45;
    max-width: 900px; }
  /* line 500, ../scss/main.scss */
  .courses p {
    font-size: 25px;
    margin: 0; }
  /* line 505, ../scss/main.scss */
  .courses ul {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 512, ../scss/main.scss */
    .courses ul li {
      color: white;
      width: 420px;
      background-image: linear-gradient(167.81deg, #6E9CF7 3.43%, #5F30E6 93.9%);
      border-radius: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      /* line 522, ../scss/main.scss */
      .courses ul li small {
        color: #A0D1FF; }
      /* line 526, ../scss/main.scss */
      .courses ul li h3 {
        margin-top: -65px;
        font-size: 24px;
        font-weight: bold;
        line-height: 140%; }
      /* line 533, ../scss/main.scss */
      .courses ul li:not(:last-child) {
        margin-right: 65px;
        background-image: linear-gradient(229.4deg, #49DBB8 9.13%, #10AFA6 80.96%); }
      /* line 538, ../scss/main.scss */
      .courses ul li img {
        position: relative;
        top: -85px;
        width: 100%;
        height: auto; }
  /* line 548, ../scss/main.scss */
  .courses.courses_h-pre-img h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 552, ../scss/main.scss */
    .courses.courses_h-pre-img h2::before {
      display: block;
      content: '';
      background-image: url("../img/h-pre-img.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 732px;
      height: 180px;
      margin-bottom: -35px; }

/* line 566, ../scss/main.scss */
.bg-dark-gr {
  color: white;
  background-image: linear-gradient(65.89deg, #506B9F -23.69%, #171d33 109.19%);
  position: relative;
  z-index: 0;
  overflow: hidden; }
  /* line 573, ../scss/main.scss */
  .bg-dark-gr li {
    background-image: linear-gradient(229.4deg, #82C3FE 9.13%, #529BDF 80.96%); }
  /* line 577, ../scss/main.scss */
  .bg-dark-gr h2 {
    color: white;
    max-width: 760px; }
  /* line 582, ../scss/main.scss */
  .bg-dark-gr h1 {
    color: white;
    text-align: center; }
  /* line 587, ../scss/main.scss */
  .bg-dark-gr .offer__desc {
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    color: #D3E6F8; }
  /* line 594, ../scss/main.scss */
  .bg-dark-gr::before {
    content: '';
    display: block;
    position: absolute;
    width: 450px;
    height: 830px;
    background-repeat: no-repeat;
    background-image: url("../img/dark-bg-left.png");
    z-index: -1;
    background-position: top left;
    background-size: cover;
    top: 0;
    left: 0; }
  /* line 609, ../scss/main.scss */
  .bg-dark-gr::after {
    content: '';
    display: block;
    position: absolute;
    width: 341px;
    height: 817px;
    background-repeat: no-repeat;
    background-image: url("../img/dark-bg-right.png");
    z-index: -1;
    background-position: bottom right;
    background-size: cover;
    bottom: 0;
    right: 0; }

/* line 625, ../scss/main.scss */
footer {
  padding-top: 25px;
  padding-bottom: 20px; }
  /* line 626, ../scss/main.scss */
  footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 632, ../scss/main.scss */
  footer .footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: #9CA4B8;
    text-align: right; }
  /* line 639, ../scss/main.scss */
  footer .footer__logo img {
    width: 100%;
    height: auto; }

@media screen and (max-width: 1976px) {
  /* line 652, ../scss/main.scss */
  .header-bg::after {
    width: 510px;
    top: 105px; }

  /* line 657, ../scss/main.scss */
  .header-bg::before {
    width: 800px; } }
@media screen and (max-width: 1600px) {
  /* line 664, ../scss/main.scss */
  .sale_notFullBg {
    background-image: linear-gradient(318.76deg, #E1EFFF 4.58%, rgba(225, 239, 255, 0) 89.01%); }

  /* line 668, ../scss/main.scss */
  .sale_notFullBg::before {
    display: none; }

  /* line 672, ../scss/main.scss */
  .header-bg::after {
    width: 470px;
    right: -70px; }

  /* line 677, ../scss/main.scss */
  .header-bg::before {
    width: 660px;
    left: -260px; }

  /* line 682, ../scss/main.scss */
  .section-gradient {
    overflow: hidden; }

  /* line 686, ../scss/main.scss */
  .section-bg {
    overflow: visible; }

  /* line 690, ../scss/main.scss */
  .courses.courses_h-pre-img {
    padding-top: 60px; } }
@media screen and (max-width: 1500px) {
  /* line 696, ../scss/main.scss */
  .sale .sale_geometry-right__wrapper::before,
  .sale .sale_geometry-left__wrapper::before {
    display: none; }

  /* line 701, ../scss/main.scss */
  .sale_geometry-left__wrapper,
  .sale_geometry-right__wrapper {
    background: none; }

  /* line 706, ../scss/main.scss */
  .sale_geometry-right {
    background-color: #0D101F; }

  /* line 710, ../scss/main.scss */
  .sale_geometry-left {
    background-color: #465d8b;
    background-size: 100%; } }
@media screen and (max-width: 1400px) {
  /* line 717, ../scss/main.scss */
  .header-bg::before {
    width: 580px;
    left: -240px;
    top: 230px; }

  /* line 723, ../scss/main.scss */
  .header-bg::after {
    width: 420px;
    right: -70px; } }
@media screen and (max-width: 1399px) {
  /* line 732, ../scss/main.scss */
  .sale_dark-gradient {
    background-image: linear-gradient(57deg, #2a3e66 13%, #3a507c 109%);
    background-color: transparent; }

  /* line 737, ../scss/main.scss */
  .sale_dark {
    background-color: #0D101F; }

  /* line 741, ../scss/main.scss */
  .sale_geometry-left {
    background-image: none;
    background-color: #465d8b;
    background-size: 100%;
    background-size: 100%;
    position: static;
    margin-top: 0; }

  /* line 750, ../scss/main.scss */
  .navbar-nav a {
    padding-right: 1.5rem;
    padding-left: 1.5rem; } }
@media screen and (max-width: 1300px) {
  /* line 757, ../scss/main.scss */
  .header-bg::before {
    width: 500px;
    left: -230px;
    top: 310px; }

  /* line 763, ../scss/main.scss */
  .header-bg::after {
    width: 370px; }

  /* line 767, ../scss/main.scss */
  .sale_notFullBg {
    margin-bottom: 0; }

  /* line 771, ../scss/main.scss */
  .sale h2 {
    font-size: 44px; }

  /* line 775, ../scss/main.scss */
  .sale_list-check ul li {
    font-size: 20px; }
    /* line 778, ../scss/main.scss */
    .sale_list-check ul li::before {
      width: 16px; }

  /* line 783, ../scss/main.scss */
  .courses h2 {
    font-size: 44px; }

  /* line 787, ../scss/main.scss */
  .sale_caps h2 {
    font-size: 36px; }

  /* line 791, ../scss/main.scss */
  .sale .sale__offer p {
    font-size: 22px; } }
@media screen and (max-width: 1072px) {
  /* line 798, ../scss/main.scss */
  .header-bg::before,
  .header-bg::after {
    display: none; }

  /* line 803, ../scss/main.scss */
  .courses ul li:not(:last-child) {
    margin-right: 35px; }

  /* line 808, ../scss/main.scss */
  header .navbar-toggler {
    border: none; }
  /* line 812, ../scss/main.scss */
  header .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23px; }

  /* line 819, ../scss/main.scss */
  .sale_geometry-left .container::before,
  .sale_geometry-left .container::after,
  .sale_geometry-right .container::before,
  .sale_geometry-right .container::after {
    display: none; }

  /* line 826, ../scss/main.scss */
  .sale {
    padding-bottom: 130px; }

  /* line 830, ../scss/main.scss */
  .sale_geometry-left {
    padding: 0; }

  /* line 834, ../scss/main.scss */
  .sale_geometry-right {
    padding: 0;
    margin-bottom: 40px; } }
@media screen and (max-width: 991px) {
  /* line 841, ../scss/main.scss */
  .sale {
    padding-top: 60px;
    padding-bottom: 80px; }
    /* line 842, ../scss/main.scss */
    .sale .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
    /* line 847, ../scss/main.scss */
    .sale .sale_geometry-right__wrapper,
    .sale .sale_geometry-left__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
    /* line 856, ../scss/main.scss */
    .sale .sale__presentation,
    .sale .sale__offer {
      width: 100%;
      max-width: none;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      /* line 868, ../scss/main.scss */
      .sale .sale__presentation img,
      .sale .sale__offer img {
        width: 50%; }
    /* line 873, ../scss/main.scss */
    .sale .sale__presentation {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    /* line 877, ../scss/main.scss */
    .sale .sale__offer {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; }
    /* line 881, ../scss/main.scss */
    .sale .sale__offer p {
      margin: 0; }

  /* line 886, ../scss/main.scss */
  .courses ul li h3 {
    font-size: 20px; }

  /* line 890, ../scss/main.scss */
  .courses ul li small {
    font-size: 17px; }

  /* line 894, ../scss/main.scss */
  .sale_list-check ul {
    text-align: left; }

  /* line 898, ../scss/main.scss */
  .sale_notFullBg {
    margin-top: 0; }

  /* line 902, ../scss/main.scss */
  footer {
    padding-top: 17px;
    padding-bottom: 11px; }
    /* line 906, ../scss/main.scss */
    footer .footer__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    /* line 910, ../scss/main.scss */
    footer .footer__copy {
      text-align: center; }
    /* line 914, ../scss/main.scss */
    footer .footer__logo {
      margin-bottom: 10px; }

  /* line 919, ../scss/main.scss */
  .sale .btn {
    margin-top: 10px; } }
@media screen and (max-width: 767px) {
  /* line 925, ../scss/main.scss */
  .sale_geometry-left {
    margin-bottom: 0; }

  /* line 929, ../scss/main.scss */
  .courses ul li h3 {
    font-size: 16px; }

  /* line 933, ../scss/main.scss */
  .sale h2 {
    font-size: 34px; }

  /* line 937, ../scss/main.scss */
  .courses h2 {
    font-size: 34px; }

  /* line 941, ../scss/main.scss */
  .sale_caps h2 {
    font-size: 32px; }

  /* line 945, ../scss/main.scss */
  .sale .sale__offer small {
    font-size: 20px; }

  /* line 949, ../scss/main.scss */
  .courses p {
    font-size: 22px;
    margin: 0; }

  /* line 954, ../scss/main.scss */
  .courses.courses_h-pre-img h2::before {
    width: 480px; }

  /* line 958, ../scss/main.scss */
  .header .navbar-nav a {
    padding-right: 1rem;
    padding-left: 1rem; } }
@media screen and (max-width: 575px) {
  /* line 965, ../scss/main.scss */
  .sale,
  .courses {
    padding-left: 10px;
    padding-right: 10px; }

  /* line 971, ../scss/main.scss */
  .courses ul li:not(:last-child) {
    margin-right: 20px; }

  /* line 975, ../scss/main.scss */
  .sale_notFullBg {
    padding-top: 40px;
    padding-bottom: 60px; }

  /* line 980, ../scss/main.scss */
  footer .footer__copy {
    font-size: 13px; }

  /* line 985, ../scss/main.scss */
  .courses.courses_h-pre-img h2::before {
    width: 90%; }

  /* line 989, ../scss/main.scss */
  .courses ul li {
    padding-bottom: 15px;
    width: 100%; }

  /* line 994, ../scss/main.scss */
  h1 {
    font-size: 83px; }

  /* line 998, ../scss/main.scss */
  .offer .offer__desc {
    font-size: 20px; }

  /* line 1002, ../scss/main.scss */
  .counter .counter__title {
    font-size: 20px; }

  /* line 1006, ../scss/main.scss */
  .counter ul li {
    width: 95px;
    height: 95px; }

  /* line 1011, ../scss/main.scss */
  .offer .offer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  /* line 1016, ../scss/main.scss */
  .offer__wrapper .btn {
    max-width: none;
    width: 370px;
    margin: 0 auto; } }
@media screen and (max-width: 480px) {
  /* line 1024, ../scss/main.scss */
  .offer {
    margin-top: 45px; }

  /* line 1028, ../scss/main.scss */
  .header {
    padding-top: 20px;
    padding-bottom: 20px; }

  /* line 1033, ../scss/main.scss */
  .courses ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  /* line 1037, ../scss/main.scss */
  .courses ul li:not(:last-child) {
    margin: 0;
    margin-bottom: 100px; }

  /* line 1042, ../scss/main.scss */
  .courses ul li h3 {
    font-size: 18px; }

  /* line 1046, ../scss/main.scss */
  .sale h2 {
    font-size: 30px; }

  /* line 1050, ../scss/main.scss */
  .sale .sale__offer p {
    font-size: 20px; }

  /* line 1054, ../scss/main.scss */
  .sale .sale__presentation img, .sale .sale__offer img {
    width: 80%; }

  /* line 1058, ../scss/main.scss */
  header .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }

  /* line 1063, ../scss/main.scss */
  .sale .btn,
  .courses .btn {
    width: 100%; }

  /* line 1068, ../scss/main.scss */
  .sale .sale__presentation iframe {
    width: 100%;
    height: 200px; }

  /* line 1073, ../scss/main.scss */
  .header-bg {
    background-image: none; } }
@media screen and (max-width: 397px) {
  /* line 1080, ../scss/main.scss */
  .counter .counter__value {
    font-size: 30px; }

  /* line 1084, ../scss/main.scss */
  .counter .counter__period {
    font-size: 15px; }

  /* line 1088, ../scss/main.scss */
  .counter ul li {
    width: 25%;
    height: 80px; }

  /* line 1093, ../scss/main.scss */
  .offer__wrapper .btn {
    width: 100%; }

  /* line 1097, ../scss/main.scss */
  .offer .offer__desc {
    font-size: 18px; }

  /* line 1101, ../scss/main.scss */
  h1 {
    font-size: 70px; }

  /* line 1105, ../scss/main.scss */
  .offer h1 span {
    font-size: 26px; }

  /* line 1109, ../scss/main.scss */
  .sale h2 {
    font-size: 25px; }

  /* line 1113, ../scss/main.scss */
  .courses h2 {
    font-size: 30px; } }
@media screen and (max-width: 361px) {
  /* line 1119, ../scss/main.scss */
  .sale h2 {
    font-size: 22px; }

  /* line 1123, ../scss/main.scss */
  .courses h2 {
    font-size: 22px; }

  /* line 1127, ../scss/main.scss */
  .courses p {
    font-size: 16px; }

  /* line 1131, ../scss/main.scss */
  .sale .sale__offer p {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */