$purrleGR: linear-gradient(230.64deg, #7195FF 12.82%, #9554FF 84.62%);
$blueGR: linear-gradient(167.81deg, #6E9CF7 3.43%, #5F30E6 93.9%);
$lightBlueGR: linear-gradient(229.4deg, #82C3FE 9.13%, #529BDF 80.96%);
$greenGR: linear-gradient(229.4deg, #49DBB8 9.13%, #10AFA6 80.96%);
$lightBgGR: linear-gradient(318.76deg, #E1EFFF 4.58%, rgba(225, 239, 255, 0) 89.01%);
$darkBgGR: linear-gradient(65.89deg, #506B9F -23.69%, rgba(23, 29, 51, 1.0) 109.19%);
$darkBg: #0D101F;
$ctaColor: #8669F4;
$linkColor: #567FCD;
$linkColorOnDark: #4DD4FF;
$gray: #6C7F9A;
$darkGray: #323A45;
$black: #233039;